li.lista-caracteristicas:hover{
  color:black!important;
}
li.lista-caracteristicas{
     list-style: none;
     margin-bottom: 0;
     font-size: 12px;
}
hr.caracteristicas{
  width: 100%
}
h4.caracteristicas{
  color: black;
  text-align: justify;
}
.fa-film{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
display: flex;
color: #0c96cc;
padding-top: 19px;
padding-left: 19px;
height: 80px;
width: 80px;
border-radius: 50%;
background-color: white;
font-size: 2.4rem;
border: 2px solid #0c96cc;
}
.fa-desktop{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
display: flex;
color: #0c96cc;
padding-top: 21px;
padding-left: 21px;
height: 80px;
width: 80px;
border-radius: 50%;
background-color: white;
font-size: 2rem;
border: 2px solid #0c96cc;
}
.fa-headphones{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 21px;
  padding-left: 21px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2rem;
  border: 2px solid #0c96cc;
}
.fa-code-branch{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 21px;
  padding-left: 28px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2rem;
  border: 2px solid #0c96cc;
}
