#educacion{
  background-color: #0b96ce;
  height: 120px;
  color: white;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 4rem;
  margin-right: 30px;
  margin-left: 30px;

}
@media only screen and (min-width: 1400px){

  #educacion{
    margin-right: 80px;
    margin-left: 80px;
  }
  #espacios{
    margin-right: 100px!important;
    margin-left: 100px!important;
  }
  #instalacion{
    margin-right: 100px!important;
    margin-left: 100px!important;
  }
  #preguntas-instalacion{
    margin-right: 100px!important;
    margin-left: 100px!important;
  }
  #noticias{
    margin-right: 100px!important;
    margin-left: 100px!important;
  }
}
@media only screen and (min-width: 1051px) and (max-width: 1200px){

  #educacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 768px) and (max-width: 796px){

  #educacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 290px) and (max-width: 400px){

  #educacion{
    background-color: #0b96ce;
    height: 100px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.5rem;

  }
}
/*ESPACIOS*/
#espacios{
  background-color: #0b96ce;
  height: 120px;
  color: white;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 4rem;
  margin-left: 30px;
  margin-right: 30px;

}
@media only screen and (min-width: 1051px) and (max-width: 1200px){

  #espacios{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 768px) and (max-width: 796px){

  #espacios{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 401px) and (max-width: 630px){

  #espacios{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 2rem;

  }
}
@media only screen and (min-width: 290px) and (max-width: 400px){

  #espacios{
    background-color: #0b96ce;
    height: 100px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 1.5rem;

  }
}
/*Descargas*/
#descargas{
  background-color: #0b96ce;
  height: 120px;
  color: white;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 4rem;
  margin-top: 150px;

}
@media only screen and (min-width: 1051px) and (max-width: 1200px){

  #descargas{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 768px) and (max-width: 1050px){

  #descargas{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 2rem;

  }
}
@media only screen and (min-width: 401px) and (max-width: 767px){

  #descargas{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.8rem;

  }
}
@media only screen and (min-width: 250px) and (max-width: 400px){

  #descargas{
    background-color: #0b96ce;
    height: 100px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1rem;

  }
}

/*PREGUNTAS*/
#preguntas-instalacion{
  background-color: #0b96ce;
  height: 120px;
  color: white;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 4rem;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;

}
@media only screen and (min-width: 1051px) and (max-width: 1200px){

  #preguntas-instalacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 768px) and (max-width: 1050px){

  #preguntas-instalacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 2rem;

  }
}
@media only screen and (min-width: 401px) and (max-width: 767px){

  #preguntas-instalacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.8rem;

  }
}
@media only screen and (min-width: 250px) and (max-width: 400px){

  #preguntas-instalacion{
    background-color: #0b96ce;
    height: 100px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1rem;

  }
}


/*INSTALACION*/

#instalacion{
  background-color: #0b96ce;
  height: 120px;
  color: white;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 4rem;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;

}
@media only screen and (min-width: 1051px) and (max-width: 1200px){

  #instalacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 4rem;

  }
}
@media only screen and (min-width: 768px) and (max-width: 1050px){

  #instalacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 2rem;

  }
}
@media only screen and (min-width: 401px) and (max-width: 767px){

  #instalacion{
    background-color: #0b96ce;
    height: 120px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.8rem;

  }
}
@media only screen and (min-width: 250px) and (max-width: 400px){

  #instalacion{
    background-color: #0b96ce;
    height: 100px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1rem;

  }
}










/*Noticias*/

#noticias{
  background-color: #0b96ce;
  height: 120px;
  color: white;
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 4rem;
  margin-left: 30px;
  margin-right: 30px;
}
@media only screen and (min-width: 1051px){

  #noticias{
    background-color: #0b96ce;
    height: 150px;
    color: white;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 2rem;

  }
}
@media only screen and (min-width: 768px) and (max-width: 1050px){

  #noticias{
    background-color: #0b96ce;
    height: 170px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.8rem;

  }
}
@media only screen and (min-width: 401px) and (max-width: 767px){

  #noticias{
    background-color: #0b96ce;
    height: 180px;
    color: white;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.6rem;

  }
}
@media only screen and (min-width: 250px) and (max-width: 400px){

  #noticias{
    background-color: #0b96ce;
    height: 150px;
    color: white;
    margin-top: 90px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1rem;

  }
}
@media only screen and (max-width: 450px){

  #breadcrumb{
    font-size:14px!important;
  }

}
