/*ESTILOS GOBALES*/
/*FORMULARIO*/
form{
  margin-bottom: 30px;
  border: 0px!important;
}
#btn-documentacion{
  padding: 5px;
  font-size: 12px;
}

p.preguntas{
  cursor: pointer;
}
p.preguntas::before{
  content: url('../img/glyphicons/png/cruz.png');

}
.fa-money-bill-wave{
  padding-left: 300px;
}
.fa-user-check{
  padding-left: 250px;
}
.fa-arrow-up{
  padding-left: 200px;
}
@media only screen and (max-width:411px){
  .fa-money-bill-wave{
    padding: 0px;
  }
  .fa-user-check{
    padding: 0px;
  }
  .fa-arrow-up{
    padding: 0px;
  }
}









p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
    color: #8B8B8B;
}
li{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 13px;
  color: #8B8B8B;

}
.breadcrumb{
  float: right;
}
ul li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 5px 0 5px 0;
}
li.educacion{
    list-style: none;
}
hr{
    width: 85%;
    background-color: rgba(0, 0, 0, 0.055);
}
hr.educacion{
    width: 100%;
}

h2{
  font-family: 'Open Sans', sans-serif;
  color: rgb(92, 92, 92);
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}
h3{
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
}
h4{
  color:  #000;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0.5rem;
}
h4:hover{
  color: black;
}
span{
  font-weight: bold;
  color: #404040;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: black;
}
i.iconos-botones{
    font-size: 12px;
    color: white;
}
div.iconos-centro{
    font-size: 3rem;
    color: #0c96cc;
    text-align: center;
    padding-top: 40px;
}





a.casos{
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
a.casos:hover{
  color: white!important;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
/*LISTAS SEPARADOR*/
.fa-angle-right{
  color: #00a0df;
  margin-right: 5px;
}


/*TABLAS*/
th{
  font-size: 20px;
  text-align: center;
  color: #0c96cc;
}
td{
  font-size: 16px;
  text-align: center;
}



/*EFECTOS IMAGENES*/
img.efecto:hover{
    transform: scale(1.1);
}
img.efecto-dos:hover{
    border-radius:20%;
    -webkit-border-radius:20%;
    box-shadow: 0px 0px 5px 5px #0c96cc;
    -webkit-box-shadow: 0px 0px 5px 5px #0c96cc;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
img.efecto-tres:hover{
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}



/*ROTACION ICONOS EFECTO*/
.fa-signal:hover{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
}
.fa-plus-square{
margin-right: 7px;
color: gray;
font-size: 1.4rem;
}

.fa-certificate:hover{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
}
.fa-ellipsis-h:hover{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
}
.fa-star:hover{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
}



/*BARRA PROGRESO EDUCACION*/
    .inicio{
    width: 0%;
  }
    .final1{
    width: 70%;
  }
    .final2{
      width: 85%;
  }

    .final3{
        width: 100%;
}

  .animacion{
    transition: all 6s ease;
  }
  .progress-bar{
      background-color: #0c96cc;
      color: #0c96cc;
      height: 20px;
  }
.progress{
    height: 20px;
    color: #0c96cc;
}

p.menu-noticias:hover{
  transform: scale(1.1)!important;
  transition: 2s all ease;
  color: orangered;
}

/*INDEX*/
/*NOTICIAS*/
#noticias-menu:hover{
  cursor: pointer;
}
.noticias{
  padding-top: 40px;
  padding-bottom: 4rem;
}
p.noticias-index{
  color: #ff6300;
}

.noticias-index:hover{
  color: black;
}
.boton-index{
  background-color: #0c96cc;
  border: none;
  color: white;
  padding: 5px 20px;
}
.boton-index:hover{
  background-color: #f88113;
}

.iconos-index{
  display: flex;
  padding-top: 1.5rem;
  font-size: 1.8rem;
  color: #0c96cc;
  margin-top: 20px;
  padding-bottom: 2rem;

}
@media only screen and (min-width:768px){
  #iconos-index{
    margin-right: 25px;
  }
}
.fa-cogs{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;

}

/*PREGUNTAS FRECUENTES*/
.fa-briefcase-medical{
  color: white;
  display: inline-block;
padding-left: 19px;
padding-top: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #0c96cc;
  font-size: 2.6rem;
  margin-left: 130px;
  margin-top: -40px;
}


.fa-envelope-square{
  color: white;
  display: inline-block;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #666666;
  font-size: 1.8rem;
  padding-top: 18px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.fa-map-marker-alt{
  color: white;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #666666;
  font-size: 1.8rem;
  padding-top: 15px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}


@media only screen and (min-width: 1061px) and (max-width: 1125px){
  .fa-briefcase-medical{
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1045px) and (max-width: 1060px){
  .fa-briefcase-medical{
    margin-left: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .fa-briefcase-medical{
    margin-left: 65px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1039px){
  .fa-briefcase-medical{
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1040px) and (max-width: 1044px){
  .fa-briefcase-medical{
    margin-left: 100px;
  }
}
@media only screen and (max-width: 767px){
  .carta-preguntas{
    margin-top: 80px
  }

}

@media only screen and (min-width: 576px) and (max-width: 767px){
  .fa-briefcase-medical{
    margin-left: 210px;
  }
}
@media only screen and (min-width: 566px) and (max-width: 575px){
  .fa-briefcase-medical{
    margin-left: 220px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 565px){
  .fa-briefcase-medical{
    margin-left: 210px;
  }
}
@media only screen and (min-width: 521px) and (max-width: 540px){
  .fa-briefcase-medical{
    margin-left: 200px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 520px){
  .fa-briefcase-medical{
    margin-left: 190px;
  }
}
@media only screen and (min-width: 491px) and (max-width: 500px){
  .fa-briefcase-medical{
    margin-left: 180px;
  }
}
@media only screen and (min-width: 461px) and (max-width: 490px){
  .fa-briefcase-medical{
    margin-left: 170px;
  }
}
@media only screen and (min-width: 441px) and (max-width: 460px){
  .fa-briefcase-medical{
    margin-left: 150px;
  }
}
@media only screen and (min-width: 423px) and (max-width: 440px){
  .fa-briefcase-medical{
    margin-left: 145px;
  }
}


@media only screen and (min-width: 415px) and (max-width: 422px){
  .fa-briefcase-medical{
    margin-left: 140px;
  }
}
@media only screen and (min-width: 371px) and (max-width: 380px){
  .fa-briefcase-medical{
    margin-left: 120px;
  }
}
@media only screen and (min-width: 336px) and (max-width: 370px){
  .fa-briefcase-medical{
    margin-left: 110px;
  }
}
@media only screen and (min-width: 330px) and (max-width: 335px){
  .fa-briefcase-medical{
    margin-left: 105px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 329px){
  .fa-briefcase-medical{
    margin-left: 95px;
  }
}
@media only screen and (min-width: 316px) and (max-width: 320px){
  .fa-briefcase-medical{
    margin-left: 95px;
  }
}
@media only screen and (min-width: 310px) and (max-width: 315px){
  .fa-briefcase-medical{
    margin-left: 98px;
  }
}
@media only screen and (min-width: 284px) and (max-width: 309px){
  .fa-briefcase-medical{
    margin-left: 90px;
  }
}
@media only screen and (min-width: 274px) and (max-width: 284px){
  .fa-briefcase-medical{
    margin-left: 78px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 220px){
  .fa-briefcase-medical{
    margin-left: 42px;
  }
}

@media only screen and (min-width: 231px) and (max-width: 240px){
  .fa-briefcase-medical{
    margin-left: 57px;
  }
}
@media only screen and (min-width: 221px) and (max-width: 230px){
  .fa-briefcase-medical{
    margin-left: 47px;
  }
}
@media only screen and (min-width: 241px) and (max-width: 254px){
  .fa-briefcase-medical{
    margin-left: 57px;
  }
}

@media only screen and (min-width: 255px) and (max-width: 260px){
  .fa-briefcase-medical{
    margin-left: 65px;
  }
}

@media only screen and (min-width: 261px) and (max-width: 273px){
  .fa-briefcase-medical{
    margin-left: 70px;
  }
}
@media only screen and (min-width: 285px) and (max-width: 290px){
  .fa-briefcase-medical{
    margin-left: 80px;
  }
}






/*CIRCULO ICONOS*/
.fa-tachometer-alt{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 19px;
  padding-left: 18px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.2rem;
  border: 2px solid #0c96cc;
}
.fa-cog{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 19px;
  padding-left: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.2rem;
  border: 2px solid #0c96cc;
}
.fa-video{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 19px;
  padding-left: 18px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.2rem;
  border: 2px solid #0c96cc;
}
.fa-windows{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 19px;
  padding-left: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.4rem;
  border: 2px solid #0c96cc;
}




.fa-chalkboard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 19px;
  padding-left: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.4rem;
  border: 2px solid #0c96cc;
}
.fa-book-open{
      margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 23px;
  padding-left: 15px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.4rem;
  border: 2px solid #0c96cc;
}
.fa-th{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 19px;
  padding-left: 19px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2.4rem;
  border: 2px solid #0c96cc;
}
.fa-users,
.fa-cogs{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  color: #0c96cc;
  padding-top: 21px;
  padding-left: 18px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  font-size: 2rem;
  border: 2px solid #0c96cc;
}
























/*PRODUCTOS*/
.fa-caret-square-right::after{
  content: '\0000a0' 'Ver video';
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.boton-productos{
  background-color: transparent;
  border: 2px solid #0c96cc;
  color: black;
  font-size: 12px;
  width: 8.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 12px 10px;
}
.boton-productos:hover{
  background-color: #0c96cc;
}
i.iconos-botones-productos{
  font-size: 15px;
}
@media only screen and (max-width:766px){
  .boton-productos{
    background-color: #0c96cc;
    border: none;
    color: white;
    font-size: 12px;
    width: 8.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
    i.iconos-botones-productos{
      font-size: 13px;
      line-height: inherit;
    }

}
div.productos p{
  font-size: 20px;
}
div.imagen-productos img{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 30px;
}
div.imagen-productos img:hover{
  transform: scale(1.1);
}


.fa-share-square,
.fa-indent,
.fa-indent,
.fa-chart-bar,
.fa-cog,
.fa-sitemap,
.fa-dollar-sign,
.fa-location-arrow,
.fa-external-link-alt,
.fa-shield-alt,
.fa-rocket,
.fa-leaf,
.fa-user-cog{
    color: white;
    display: inline-block;
    padding-top: 25px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #0c96cc;
    font-size: 2.6rem;
}
.fa-user-cog{
    color: white;
    display: inline-block;
    padding-top: 25px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #0c96cc;
    font-size: 2.3rem;
}

div.separacion{
padding-left: 40%;
margin-top: -29px;
font-size: 3rem;
border: 2px solid white;
}
.fa-smile{
    color: black;
    display: inline-block;
    padding-top: 25px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
    font-size: 2.4rem;
    border: 3px solid #00bbea;
}
.fa-lightbulb{
    color: black;
    display: inline-block;
    padding-top: 23px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
    font-size: 2.4rem;
    border: 3px solid #00bbea;
}


.fa-thumbs-up{
    color: black ;
    display: inline-block;
    padding-top: 20px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: white;
    font-size: 2.4rem;
    border: 3px solid #00bbea;
}


.fa-angle-right{
    display: inline-block;
}
.fa-angle-right::before{
    content: "\f054";
}
/*CONTACTO*/












/*CASOS DE EXITO*/


.photo:hover{
  -webkit-filter: contrast(80%);
  filter: contrast(105%);
  transform: scale(1.1);
  transition: ease 2s;
  -webkit-filter: contrast(80%);
  filter: contrast(110%);
}

.fa-camera-retro{
  font-size: 8rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -10px;
  color: gray;
  margin-bottom: 40px;
  transform: skewX(-10deg);


}
.fa-camera-retro:hover{
  color: orangered;
  transition: all 2s ease;
}

/*PRUEBA GRATUITA*/
#nota-importante{
  background-color: rgba(255, 0, 0, 0.26);
  border-radius: 6px;
}
#nota-importante:hover{
  background-color: rgba(255, 0, 0, 0.8);
  transition: all 2s ease;
}






@media (min-width: 100px) and (max-width: 575px){
    .icono-productos{
        font-size: 20px;

    }
}
@media only screen and (max-width: 767px){
  a.boton-productos{
    width:200px;
    font-size: 16px;
  }
  i.iconos-botones-productos{
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
    a.boton-productos{
        width: 130px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 767px){
    div iframe.segundo-video{
        margin-bottom: -90px;
    }
    div iframe.tercer-video{
        margin-top: -30px;
    }
    div iframe.cuarto-video{
        margin-bottom: -90px;
    }
    div iframe.quinto-video{
        margin-top: -100px;
    }
    div iframe.sexto-video{
        margin-bottom: -60px;
    }
    div iframe.septimo-video{
        margin-top: -60px;
    }
}
@media only screen and (min-width: 768px){
    div iframe.primer-video{
        margin-top: 150px;
    }
    div iframe.segundo-video{
        margin-top: 150px;
    }
    div iframe.tercer-video{
        margin-top: 220px;
    }
    div iframe.cuarto-video{
        margin-top: 220px;
    }
    div iframe.quinto-video{
        margin-top: 50px;
    }
    div iframe.sexto-video{
        margin-top: 70px;
    }
    div iframe.septimo-video{
        margin-top: 80px;
    }

}

@media only screen and (min-width: 992px){
    div iframe.primer-video{
        margin-top: 50px;
    }
    div iframe.segundo-video{
        margin-top: 10px;
    }
    div iframe.tercer-video{
        margin-top: 60px;
    }
    div iframe.cuarto-video{
        margin-top: 45px;
    }
    div iframe.quinto-video{
        margin-top: -50px;
    }
    div iframe.sexto-video{
        margin-top: 10px;
    }
    div iframe.septimo-video{
        margin-top: -20px;
    }
}

    @media only screen and (min-width: 490px) and (max-width: 767px){
    div iframe.primer-video{
        width: 25rem;
        margin: auto;
        display: flex;
    }
    div iframe.segundo-video{
        width: 25rem;
        margin: auto;
        display: flex;
        margin-bottom: -55px;
    }
    div iframe.tercer-video{
        width: 25rem;
        margin: auto;
        display: flex;
        margin-top: -30px;
    }
    div iframe.cuarto-video{
        width: 25rem;
        margin: auto;
        display: flex;
        margin-bottom: -55px;
    }
    div iframe.quinto-video{
        width: 25rem;
        margin: auto;
        display: flex;
        margin-top: -90px;
    }
    div iframe.sexto-video{
        width: 25rem;
        margin: auto;
        display: flex;
        margin-bottom: -30px;
    }
    div iframe.septimo-video{
        width: 25rem;
        margin: auto;
        display: flex;
        margin-top: -60px;
    }
}

@media only screen and (max-width: 384px){
  th{
    font-size: 10px;
    text-align: center;
    color: #0c96cc;
  }
  td{
    font-size: 8px;
    text-align: center;
  }
}


@media only screen and (min-width: 1px) and (max-width: 300px){
   p.barra-nosotros{
    margin-top: 25px;
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px){
  p.barra-nosotros{
   margin-top: 38px!important;
 }

}
@media only screen and (min-width: 300px) and (max-width: 335px){
   .fa-envelope::after{
    font-size:12px;
  }

}
@media only screen and (min-width: 250px) and (max-width: 299px){
   .fa-envelope::after{
    font-size:9px;
  }

}


 /* nuevos  */
/* estilo para la vista de los formularios en los clientes*/

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  height: 50px;
      }
.card-header {
padding: 10px !important;
margin-bottom: 0 !important;
background-color: rgba(0,0,0,.03) !important;
border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.card {
  position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #ffffff00 !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  border-radius: .25rem !important;
}


.tdhide {
	display: none
}

select.error, input.error, textarea.error {
	border-color: #dd4b39;
}

label.error {
	color: #dd4b39;
}

.list_tools {
	font-size: 18px;
	text-align: center;
}

.logo-panel .logo {
    /*padding: 5px;*/
    width: 200px;
}

#equal
{
	 -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.loading_spinner img
{
	width:80px;

}


.loading_spinner {
	width:100px;
	margin:0 auto;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5) center center no-repeat;
    opacity: .5;
}

.spinner {
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


.alert.alert-danger {
    max-height: 250px;
    overflow-y: auto;
}

#dashboard-offer-image img {
	width: 100%;
	max-width: 500px;
}

#dashboard-sku-points .info-box-text {
	font-size: 28px;
	text-align: center;
}

#dashboard-sku-points .info-box-number {
	text-align: center;
}

#staff-menu-text-help {
	color: #FFF;
	text-align: right;
	font-size: 1.3em;
	margin-top: 40px;
}

#headerPoints .info-box-text {
	font-size: 18px;
}

#headerPoints .info-box-number {
	font-size: 28px;
}

#monthSlider .slider-tick-label {
	margin-top: 20px;
}

.published .visibility,
form .visibility {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

.box-tools .input-group-btn a.upload-link {
  float:right;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
  background-color: transparent;
}

.modal.map-panel.modal-info .modal-body{
  color: black !important;
}

.modal.map-panel .loading-gps {
  position: absolute;
  top: 40%;
  left: 40%;
}

.btn-info.focus, .btn-info:focus {
  background-color: #24435e;
}

form .points-of-sale-panel .add-point-of-sale {
  margin-top: 10px;
}

form .points-of-sale-panel .point-of-sale-separator,
form .points-of-sale-panel .points-of-sale-separator {
  border-top: 2px solid #d2d6de;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 10px;
}

form .points-of-sale-panel .point-of-sale-separator {
  margin-right: 2.5%;
}

form .points-of-sale-panel .outer-pos-panel .btn.delete-pos,
form .points-of-sale-panel .pos-db-outer .btn.delete-pos {
  margin-top: 25px;
}

form .points-of-sale-panel .pos-db-outer .col-md-6.point-of-sale-panel {
  padding-left: 0;
}

.image-error ul {
  list-style-type: none;
}

form .form-pos-panel textarea,
form .form-textarea-panel textarea,
form .select-multiple select[multiple] {
  min-height: 105px;
}

.sms-modal .sms-input-panel .sms-input {
  min-height: 80px;
}

.long-text {
  word-wrap: break-word;
}

.long-text-td {
  max-width: 350px;
  word-wrap: break-word;
}

.staffs-panel .staffs-table {
  margin: auto;
  width: 100%;
}

.staffs-panel .staffs-table tr.spacing-tr {
  height: 3px;
}

.staffs-panel .staffs-table td {
  padding-right: 5px;
}

.staffs-panel .staffs-table .title-panel .delete-option-title {
  text-align: center;
}

.pointer-link {
  cursor: pointer;
}

.staff-search-panel .search-form .input-panel {
  margin-bottom: 10px;
}

.staff-search-panel .search-form .input-panel.date {
  display: table;
}

table.staffs-table .inactive {
  color: #cb2e1b;
}

.fragment {
        font-size: 12px;
    font-family: tahoma;
    height: 50px;
    border: 1px solid #ccc;
    color: #555 !important;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    width: 350px;
    background: #b9c9d8;
}
.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img {
    float: left;
    margin-right: 10px;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.fragment h4 {
    padding: 0;
    margin: 0;
    color: #000;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

.font_size_20
{
	font-size:13px !important;
}


.phone-image-text {
  position: absolute;
  top: 20%;
  left: 12%;
  width: 76%;
  text-align: left;
  padding: 2%;
  font-size: 1.4em;
  word-wrap: break-word;
}


#system_overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:2000000;
}
#system_loading {
    width: 50px;
    height: 57px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    z-index:2000000;
}

input.error {
	border-color: #d73925;
}

.filters{
  margin-top: 20px;
}

.button-actions{
  padding-right:15px;
  margin-bottom: 15px;
}


.dt-buttons{
  float: left;
}

.buttons-excel {
    background-color: #00a65a;
    border-color: #008d4c;
    color:#FFFFFF;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
.buttons-pdf {
    background-color: #dd4b39;
    border-color: #d73925;
    color:#FFFFFF;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
.buttons-print {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color:#FFFFFF;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}

.bubble hr {
	margin:0px;
}

.padding p {
	padding:0px;
	margin:0px;
}

.padding {
	padding:10px;
}

.round_two {
	background-color:#866d9b;
}

.round_one {
	background-color:#4cb07d;
}

.bubble_one {
	background-color:#fcfbea;
	border-color:#fee0b0;
	border-style:solid;
	border-width:1px;
}

.bubble_two {
	background-color:#edf9f7;	
	border-color:#def5f0;
	border-style:solid;
	border-width:1px;
}

.bubble {
	
	border-radius:5px;
	margin-top:10px;
	margin-bottom:10px;
}


.round_avatar {
	margin-top:10px;
	height:40px;
	width:40px;
	border-radius:100%;
	color:#fff;
	
}

.round_avatar h1 {
	padding:0px;
	margin:0px;
	font-size:15px;
	text-align:center;
	padding-top:10px;
	text-transform:uppercase;
}

